@include dr-footer-colors();

.o_footer {
    .logo.img {
        max-width: 150px;
        max-height: 150px;
    }
    .tp-followus-icon {
        @include dr-font-icons {
            font-size: 1.2rem;
            margin-right: 0.8rem;
        }
    }
    .o_footer_copyright {
        background-color: darken(color('footer'), 3%);
    }
}
