.tp_preheader {
    @include dr-preheader-colors();
}

.tp_header {
    background-color: gray('white');
    border-bottom: 1px solid rgba($body-color, 0.12);
    a:not(.dropdown-item), .btn-link:not(.dropdown-item) {
        color: $body-color;
        &:hover {
            color: theme-color('alpha');
        }
    }
    .tp-account-info {
        @include dr-font-icons {
            font-size: 1.4rem;
        }
        .my_wish_quantity, .my_cart_quantity {
            padding: 0.4em 0.6em;
            border-radius: 40px;
            vertical-align: top;
        }
    }
    .tp-account-info-desktop {
        @include dr-font-icons {
            font-size: 1.4rem;
        }
        sup.my_wish_quantity, sup.my_cart_quantity {
            padding: 0.4em 0.6em;
            border-radius: 40px;
            vertical-align: top;
            position: absolute;
            left: 30px;
            top: -5px;
        }
    }
    @include media-breakpoint-down(sm) {
        border-bottom-width: 0px;
    }
    @include media-breakpoint-down(md) {
        .tp-account-info {
            @include dr-header-account-info-tablet();
        }
    }
    .dr_custom_search {
        flex-grow: 1;
        .search_icon {
            display: none;
        }
        input {
            padding: 12px;
        }
    }
}

#wrapwrap {
    > header {
        box-shadow: $box-shadow-sm;
        > .navbar {
            @include media-breakpoint-up(md) {
                padding: 0px;
            }
            // FIX: Navbar always light in mobile: dark logo + in mobile navbar
            @include media-breakpoint-down(sm) {
                @include dr-navbar-light-default();
            }
            #top_menu {
                // margin: auto;
                margin: initial !important;
                > .nav-item {
                    padding-left: 1rem;
                    padding-right: 1rem;
                    // Special Menu
                    @include media-breakpoint-up(md) {
                        &.dr_special_menu {
                            @if (color('menu') == theme-color('alpha')) {
                                background-color: gray('white');
                                > .nav-link.o_mega_menu_toggle {
                                    color: theme-color('alpha');
                                    &:hover, &:focus {
                                        color: theme-color('alpha');
                                    }
                                }
                            }
                            @else {
                                background-color: theme-color('alpha');
                                box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.13) inset;
                                > .nav-link {
                                    color: color-yiq(theme-color('alpha'));
                                    &:hover, &:focus {
                                        color: color-yiq(theme-color('alpha'));
                                    }
                                }
                            }
                        }
                    }
                    > .nav-link {
                        // FIX: Navbar always light in mobile: dark logo + in mobile navbar
                        @include media-breakpoint-up(md) {
                            @include dr-navbar-link-colors();
                        }
                        @include media-breakpoint-up(md) {
                            padding: 1rem 0.8rem;
                            position: relative;
                            &:hover:before {
                                left: 0;
                                right: 0;
                            }
                            &:before {
                                position: absolute;
                                content: "";
                                left: 50%;
                                right: 50%;
                                height: 3px;
                                bottom: 0;
                                background-color: theme-color('alpha');
                                @if (color('menu') == theme-color('alpha')) {
                                    background-color: gray('white');
                                }
                                transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                                transform: translate3d(0, 0, 0);
                            }
                        }
                    }
                }
            }
            #top_menu {
                .dr_special_menu {
                    > a {
                        padding-left: 36px !important;
                        .fa.fa-th-large{
                            font-family: 'Linearicons-Free';
                            speak: none;
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            text-transform: none;
                            line-height: 1;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            font-family: "Linearicons-Free" !important;
                            display: inline-block;
                            font-size: 23px;
                            position: absolute;
                            left: 6px;
                            top: 15px;
                            &:before {
                                content: "\e87e";
                            }
                        }
                    }
                }
            }
        }
        // FIX: Menu label in affix
        &.o_header_affix {
            > .navbar {
                #top_menu {
                    > .nav-item {
                        > .nav-link {
                            @include media-breakpoint-up(lg) {
                                padding: 1.6rem 0.8rem;
                            }
                            .dr-menu-label {
                                bottom: 60%;
                            }
                        }
                    }
                    .dr_special_menu {
                        .fa.fa-th-large {
                            top: 24px !important;
                        }
                    }
                }
            }
        }
    }
}

$dr-header-height: 145px;
$dr-pre-header-height: 39px;
$dr-mobile-bottom-cart: 51px;
